* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #f5f9fe;
}

.header {
  background-color: grey;
}

.navbar .navbar-brand {
  color: #0d369f;
  font-size: 30px;
}
.navbar .nav-item .nav-link {
  color: white;
}
h1 {
  color: red;
  margin: 50px 0;
  text-align: center;
}
.ProductList {
  margin: 30px 0;
}
.ProductList .product__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.ProductList .product__content .product_item {
  width: 500px;
  background-color: #fff;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}
.ProductList .product__content .product_item img {
  width: 100%;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
.ProductList .product__content .product_item .product_text {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProductList .product__content .product_item button {
  padding: 10px 15px;
  color: #fff;
  background-color: #0d369f;
  font-size: 17px;
  border-radius: 30px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.ProductList .product__content .product_item button:hover {
  color: red;
}

.shoes_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}
#exampleModal .modal-header img {
  width: 400px;
  margin-left: 30px;
}
